<div class="contenedor">
    <div class="formulario">
        <h1>Formulario de prueba</h1>
        <form class="row g-3">
            <div class="col-md-6">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">Apellido</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">País</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">Provincia</label>
                <select class="form-select">
                    <option value="" disabled selected>Seleccionar...</option>
                    <option>Bocas del toro</option>
                    <option>Chiriqui</option>
                    <option>Panama</option>
                    <option>Cocle</option>
                    <option>Herrera</option>
                </select>
            </div>
            <div class="col-12">
                <label class="form-label">Dirección</label>
                <input type="text" class="form-control" placeholder="Calle 50, Av. Ricardo J. Alfaro">
            </div>
            <div class="col-12 btn-insertImg">
                <input class="insertImg" type="file" accept="image/*">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>

    <section class="information">
        <ul class="list-group">
            <li class="list-group-item d-flex align-items-center">
                <img src="/assets/img/img_prueba.png">
                <div class="information-completa">
                    <div class="information-personal">
                        <label>Nombre</label>
                        <label>Apellido</label>
                    </div>
                    <div class="information-residencial">
                        <label>Pais</label>
                        <label>Provincia</label>
                        <label>Direccion</label>
                    </div>
                </div>
            </li>


            <li class="list-group-item d-flex align-items-center">
                <img src="/assets/img/img_prueba.png">
                <div class="information-completa">
                    <div class="information-personal">
                        <label>Nombre</label>
                        <label>Apellido</label>
                    </div>
                    <div class="information-residencial">
                        <label>Pais</label>
                        <label>Provincia</label>
                        <label>Direccion</label>
                    </div>
                </div>
            </li>

            <li class="list-group-item d-flex align-items-center">
                <img src="/assets/img/img_prueba.png">
                <div class="information-completa">
                    <div class="information-personal">
                        <label>Nombre</label>
                        <label>Apellido</label>
                    </div>
                    <div class="information-residencial">
                        <label>Pais</label>
                        <label>Provincia</label>
                        <label>Direccion</label>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>